.sao-healthbar

  .main-container
  
    .character-name Akilar
    
    .health-bar--outline
      .health-bar--border
        .health-bar--background
          .health-bar--health(style='--health: 200; --max-health: 255')
          
  .health-indicator(style="--health: '200'; --max-health: '255'") /
  .character-level(style="--level: '46'") LV:
