body{
  background: #000000
}
 #over-box{
  width: 800px;
  background: red;
  overflow: hidden;
  border-radius: 15px;
}
#over-box::before{
  content: "";
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  top: 90px;
  z-index: 2;
  left: 45px;
  border-top: 10px solid transparent;
  border-left: 6px solid #73b8f4;
  border-bottom: 10px solid transparent;
}
.container{
  background: rgb(111, 150, 146);
  position: relative;
  left: -40%;
  height:200px;
  width:140%;
  z-index: 0;
  display:flex;
  overflow: hidden;
  border: 0px solid
}

.description{
  width: 40%;
  height: 200px;
  background: #e5eff0;
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 60px;
}
.description::before{
  content: "";
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  z-index: 2;
  top: 0;
  right: -59px;
  border-top: 100px solid transparent;
  border-left: 60px solid #e5eff0;
  border-bottom: 100px solid transparent;
}
.description::after{
  content: "";
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  right: -60px;
  border-top: 100px solid transparent;
  border-left: 60px solid #000000;
  border-bottom: 100px solid transparent;
}

.post-info{
  width: 60%;
  height: 200px;
  position: relative;
  background: #ffffff;
  display: flex;
  align-items: center;
  color: #ffffff;
  flex-direction: column;
  color: #000000;
}
.post-info::before{
  content: "";
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, #ffffff, transparent);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 100%;
}

.post-info .post-title{
height: 50%;
padding: 25px 15px 10px 50px;
    font-size: 24px;
}
.post-info .post-tag{
height: 50%;
    padding: 0px 20px 5px 60px;
}
.cover{
  width: 40%;
  height: 200px;
  position: relative;
  background: #0000ff;
}
.cover img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#over-box:hover .container{
  transform: translateX(28.6%);
  transition: all 0.5s
}
