body
  background: black
.menu-container
  background: transparent
  position: fixed
  top: -60px
  left: 0
  height: auto
  width: 100vw
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
  &:hover
    top 0 !important
    transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
    button.active-button
      background rgb(235, 82, 34) !important
  .menu-item
    background: rgba(66,66,66,0.7)
    height: 60px
    width 100%
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    &::-webkit-scrollbar
      display: none
    .menu-item-main
      display: inline-flex;
      color: #4d4849
      background: #cdd0ce
      width: auto
      min-width: 80px;
      height: 50px;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      margin: 5px 5px;
      clip-path: polygon(3px 0, calc(50% - 5px) 0,50% 0px,calc(50% + 5px) 0 ,calc(100% - 3px) 0, 100% 3px,100% calc(50% - 5px), 100% 50%,100% calc(50% + 5px), 100% calc(100% - 3px), calc(100% - 3px) 100%,calc(50% + 5px) 100%,50% 100%,calc(50% - 5px) 100%,3px 100%, 0 calc(100% - 3px), 0 calc(50% + 5px), 0px 50%,0 calc(50% - 5px),0 3px);
      transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
      &:hover
        color: #f9f9f9
        background: #eda60c
        clip-path: polygon(3px 0, calc(50% - 5px) 0,50% 8px,calc(50% + 5px) 0 ,calc(100% - 3px) 0, 100% 3px,100% calc(50% - 5px), calc(100% - 8px) 50%,100% calc(50% + 5px), 100% calc(100% - 3px), calc(100% - 3px) 100%,calc(50% + 5px) 100%,50% calc(100% - 8px),calc(50% - 5px) 100%,3px 100%, 0 calc(100% - 3px), 0 calc(50% + 5px), 8px 50%,0 calc(50% - 5px),0 3px);
        transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
        .menu-item-parent
          width: 0
          opacity 0
          color: #f9f9f9
          background: #eda60c
          pointer-events: none;
          transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
        .menu-item-child
          color: #4d4849
          background: #cdd0ce
          width: 80px;
          opacity 1
          pointer-events: inherit;
          transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)

      .menu-item-parent
        color: #4d4849
        background: #cdd0ce
        opacity: 1
        pointer-events: inherit
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width 80px
        height: 50px;
        transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
      .menu-item-child
        color: #4d4849
        background: #cdd0ce
        opacity: 0
        pointer-events: none
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width 0
        height: 50px;
        transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
        &:hover
          color: #f9f9f9
          background: #eda60c
  .top-bar
    background: #dee3ed;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius 0 0 10px 10px
    // clip-path: polygon(0 0, 3px calc(100% - 15px), 10px calc(100% - 10px), calc(50% - 40px) calc(100% - 10px), calc(50% - 35px) 100%, calc(50% + 35px) 100%, calc(50% + 40px) calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 3px) calc(100% - 15px), 100% 0);
    .message-container
      display: flex;
      flex-wrap: nowrap;
      height: 50px;
      width: 100%;
      align-items: center;
      flex-direction: row;
      .message-item
        display: inline-flex
        justify-content: center
        height: 50px
        align-items: center;
      .message-weather
        width 25%
        .s-sticker-tmp.module
          color: black!important;
        .s-sticker-city.module
          color: black!important;
      .message-date
        width 50%
      .message-function
        justify-content: space-evenly;
        width 25%
  button.active-button
    background: #28b9e6;
    width: 70px;
    height: 10px;
    border-radius: 1px;
    margin: 0px auto;
    border-bottom: 3px solid #dee3ed;
    border-top: 3px solid #dee3ed;
    border-left: 10px solid #dee3ed;
    border-right: 10px solid #dee3ed;
    transform: perspective(0.5em) rotateX(-5deg);
    left: calc(50% - 35px);
    position: absolute;
@media screen and (max-width: 768px)
  .menu-container
    .top-bar
      .message-container
        .message-weather
          .s-sticker-tmp.module
            display none !important
          .s-sticker-city.module
            display none !important;
