.card-content {
  display: flex;
  background: yellow;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  height: 200px;
  width: 90%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17);
  margin: 0px 5% 20px 5%;
}

.card-cover {
  display: flex;
  background: red;
  height: 200px;
  width: 40%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}
.card-cover img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-title {
  display: flex;
  background: yellow;
  height: 200px;
  width: 40%;
  flex-direction: column;
justify-content: center;
align-items: center;
}

.card-descr {
  display: flex;
  background: blue;
  height: 200px;
  width: 20%;
  clip-path: polygon(0 50%, 80px 0, 100% 0, 100% 100%, 80px 100%);
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-arrow {
  display: block;
  position: absolute;
  height: 20px;
  width: 10px;
  background: white;
  left: calc(100% - 40px);
  top: calc(50% - 10px);
  clip-path: polygon(0 10px, 10px 0, 10px 20px);
}

.card-content:hover .card-cover {
  width: 10%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}

.card-content:hover .card-descr {
  width: 50%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}
