.card-content {
  display: flex;
  background: yellow;
  border-radius: 10px;
  overflow: hidden;
  height: 200px;
  width: 90%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}

.card-cover {
  display: flex;
  background: red;
  height: 200px;
  width: 40%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}

.card-title {
  display: flex;
  background: yellow;
  height: 200px;
  width: 40%;
}

.card-descr {
  display: flex;
  background: blue;
  height: 200px;
  width: 20%;
  clip-path: polygon(0 50%, 80px 0, 100% 0, 100% 100%, 80px 100%);
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}

.card-arrow {
  display: block;
  position: relative;
  height: 20px;
  width: 10px;
  background: white;
  left: calc(100% - 40px);
  top: calc(50% - 10px);
  clip-path: polygon(0 10px, 10px 0, 10px 20px);
}

.card-content:hover .card-cover {
  width: 10%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}

.card-content:hover .card-descr {
  width: 50%;
  transition: all 0.5s cubic-bezier(0.59, 0.01, 0.48, 1.17)
}
